*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 85%;
    margin: 0px auto;
    position: relative;
}


.center{
    margin: 0px auto;
}


.clr{
    clear: both;
}

.col-1{ width: 8.33%; }
.col-2{ width: 16.6%; }
.col-3{ width: 24.9%; }
.col-4{ width: 33.33%;}
.col-5{ width: 41.66%;}
.col-6{ width: 49.99%;}
.col-7{ width: 58.3%; }
.col-8{ width: 66.6%; }
.col-9{ width: 74.9%; }
.col-10{ width: 83.3%;}
.col-11{ width: 91.66%;}
.col-12{ width: 100%; }

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-10,
.col-12{
    float: left;
}

.left{
    float: left;
}

.right{
    float:right;
}

.btn{
    background-color: transparent;
    border: 2px solid rgb(12, 4, 41);
    text-transform: uppercase;
    margin: 10px 0px;
    margin-right: 10px;
    padding: 8px 15px;
    font-size: 14px;
    color: rgb(12, 4, 41);
    transition: all .8s linear;
}

.btn:hover{
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    background-color: blue;
    color: white;
}

/* 

<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

*/